@mixin scrollBar($thumbColor){
	&::-webkit-scrollbar{
		width: 6px; 
		padding: 0 2px;
	}

	&::-webkit-scrollbar-track{
		background: lighten(#222, 10%);
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb{
		background: $thumbColor;
		border-radius: 5px;
	}
}

@mixin backgrounding(){
	&.-primary{
		background: $brand-primary;
	}

	&.-danger{
		background: $brand-danger;
	}

	&.-warning{
		background: $brand-warning;
	}

	&.-success{
		background: $brand-success;
	}

	&.-default{
		background: $btn-default-color;
	}
}

@mixin wordWrap(){
	word-wrap: break-word;
	word-break: break-word;
}